.markerItem__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.markerItem__text {
    color: #fff;
}

.markerCluster {
    background-color: #E05F5F;
    color: #fff;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #000;
}