.infoModalContainer {
    position: absolute;
    height: 30px;
    width: 80%;
    max-width: 500px;
    background-color: aliceblue;
    color: #000;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.8rem 1rem;
    font-weight: bold;
    border: 1px #000 solid;
}