.homeContainer {
    width: 100vw;
    height: 100vh;
}

/* .homeContainer__addAlertButton {
    position: absolute;
    top: 85%;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    padding: .5rem 1rem;
    background-color: var(--text-color);
    color: #fff;
    border-radius: 50px;
    border: none;
    cursor: pointer;
} */

.mapboxgl-map {
    height: calc(100% - 4.7rem) !important;
}

.homeContainer__wrapper {
    width: 100vw;
    height: 95%;
}

@media only screen and (min-width: 600px) {
    .homeContainer__wrapper {
        display: flex;
        height: 95vh;
        width: 100vw;
        flex-direction: row-reverse;
    }

    .mapboxgl-map {
        height: 95vh !important;
    }
}