.homeContainer {
    width: 100vw;
    height: 100vh;
}

header {
    width: 100vw;
    height: 10vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.header-logo {
    color: var(--text-color);
    background-color: var(--main-background-color);
    padding: .5rem 1rem;
    border-radius: 50px;
    filter: drop-shadow(0px 0px 20px rgba(242, 204, 143, 0.5));
    user-select: none;
}

.header-text {
    font-weight: bold;
}

.header-burger {
    background-color: var(--main-background-color);
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 20px rgba(242, 204, 143, 0.5));
    user-select: none;
    cursor: pointer;
}

.header-burger img {
    width: 50%;
}

.homeContainer__addAlertButton {
    position: absolute;
    top: 85%;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    padding: .5rem 1rem;
    background-color: var(--text-color);
    color: #fff;
    border-radius: 50px;
    border: none;
    cursor: pointer;

}