header {
    width: 100vw;
    height: 5vh;
    display: flex;
    background-color: #302B27;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
}

.header-logo {
    color: #fff;
    display: flex;
    align-items: center;
}

.header-text {
    font-weight: bold;
}

.header-burger {
    background-color: var(--main-background-color);
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 20px rgba(242, 204, 143, 0.5));
    user-select: none;
    cursor: pointer;
}

.header-burger img {
    width: 50%;
}

.header__link {
    display: block;
    color: #fff;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
    transition: color .5s ease;
}

.header__link:hover {
    color: #71F79F;
}

.header__link-hidden {
    display: none;
}