* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

:root {
  --main-background-color: #F4F1DE;
  --second-background-color: #FFE9C5;
  --light-background-color: #FFE8C4;
  --text-color: #E07A5F;
}